<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<context-param>
		<param-name>lang1</param-name>
		<param-value>C Language</param-value>
	</context-param>

	<context-param>
		<param-name>lang2</param-name>
		<param-value>C++ Language</param-value>
	</context-param>

	<context-param>
		<param-name>lang3</param-name>
		<param-value>Python Language</param-value>
	</context-param>

	<context-param>
		<param-name>lang4</param-name>
		<param-value>Java Language</param-value>
	</context-param>


	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>com.royal.controller.FirstServlet</servlet-class>
		
		<init-param>
			<param-name>URLNAME</param-name>
			<param-value>jdbc:mysql://localhost:3306/test</param-value>
		</init-param>
		<init-param>
			<param-name>DRIVERCLASS</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>USERNAME</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>PASSWORD</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>com.royal.controller.SecondServlet</servlet-class>
		
		<init-param>
			<param-name>URLNAME</param-name>
			<param-value>jdbc:mysql://localhost:3306/test</param-value>
		</init-param>
		<init-param>
			<param-name>DRIVERCLASS</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>USERNAME</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>PASSWORD</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecondServlet</servlet-name>	
		<url-pattern>/ganesh</url-pattern>
	</servlet-mapping>	


	<servlet>
		<servlet-name>DiamondWithDifColorServlet</servlet-name>
		<servlet-class>com.royal.controller.DiamondWithDifColorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiamondWithDifColorServlet</servlet-name>	
		<url-pattern>/diamond</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ThirdServlet</servlet-name>
		<servlet-class>com.royal.controller.ThirdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThirdServlet</servlet-name>	
		<url-pattern>/thirdServlet</url-pattern>
	</servlet-mapping>	


	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.royal.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>	
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>	



	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.royal.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>	
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>	

	<servlet>
		<servlet-name>FourthRequestHeaderNameServlet</servlet-name>
		<servlet-class>com.royal.controller.FourthRequestHeaderNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FourthRequestHeaderNameServlet</servlet-name>	
		<url-pattern>/headerName</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>InsertStudentServlet</servlet-name>
		<servlet-class>com.royal.controller.InsertStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertStudentServlet</servlet-name>	
		<url-pattern>/InsertStudentServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SearchGoogleServlet</servlet-name>
		<servlet-class>com.royal.controller.SearchGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchGoogleServlet</servlet-name>	
		<url-pattern>/SearchGoogleServlet</url-pattern>
	</servlet-mapping>
	
	
</web-app>

